*{
	border: 0;
	padding: 0;
	margin: 0;
	font-family: arial;
}
body {
	background-color: grey;
}
h3 {
	text-align: center;
}
.tagline, .skills, .contact {
	background-color: orange;
	padding-left: 20px;
	padding-bottom: 10px;
	border: 10px 10px;
	margin: 2px;
	border-radius: 15px;
}
.header {
	text-align: center;
	font-size: 32px;
	background-color: red;
}

